@font-face {
    font-family: "holberton_school-icon";
    src: url(./fonts/holberton_school-icon.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "holberton_school-icon";
}

header{
    background: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height:  100vh;
    padding: 1rem 12.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 7rem;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: fit-content;
    height: auto;
}

.logo_1{
    width: 150px;
}

.nav-links{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover{
    color: #ff6565;
    opacity: 0.9;
}

.hero-section{
    width: fit-content;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.hero-section-paragraph{
    width: 100%;
    line-height: 2rem;
}

.hero-section-paragraph h4{
    font-size: 2rem;
    font-weight: 800;
}

.hero-section-paragraph p{
    font-size: 1rem;
    font-weight: 800;
}

.btn-btn{
    width: fit-content;
    height: auto;
}

.btn-btn .cta-hero{
    border-radius: 100px;
    padding: 1rem;
    border: none;
    outline: none;
    color: white;
    background-color: #ff6565;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-btn .cta-hero:hover{
    opacity: 0.9;
    cursor: pointer;
}

.hero-paragraph{
    width: 80%;
    text-align: center;
    padding: 0.7rem;
    margin: 0 auto;
}