@font-face {
  font-family: "holberto_school-icon";
  src: url("./fonts/holberton_school-icon.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "holberton_school-icon";
  box-sizing: border-box;
}

header {
  background: url("./images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 12.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 9rem;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: fit-content;
  height: auto;
}

.logo_1 {
  width: 150px;
}

.nav-links {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff6565;
  opacity: 0.9;
}

.hero-section {
  width: fit-content;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.hero-section-paragraph {
  width: 100%;
  line-height: 2rem;
}

.hero-section-paragraph h4 {
  font-size: 2rem;
  font-weight: 800;
}

.hero-section-paragraph p {
  font-size: 1rem;
  font-weight: 800;
}

.btn-btn {
  width: fit-content;
  height: auto;
}

.btn-btn .cta-hero {
  border-radius: 100px;
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: #ff6565;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-btn .cta-hero:hover {
  opacity: 0.9;
  cursor: pointer;
}

.hero-paragraph {
  width: 80%;
  text-align: center;
  padding: 0.7rem;
  margin: 0 auto;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4rem 12.5rem;
  gap: 5rem;
}

.what-about-container {
  width: 70%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.what-about-container h3 {
  font-size: 2rem;
  font-weight: bold;
}

.what-about-paragraph {
  width: fit-content;
  height: auto;
}

.what-about-paragraph > p {
  font-size: 1.2rem;
  font-weight: 400;
}

.what-about-images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.left-image {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  line-height: 1.5rem;
}
.left-image1 {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  line-height: 1.5rem;
}

.left-image img {
  width: 50px;
}

.left-image h4,
.left-image1 h4 {
  font-size: 1.5rem;
}

.left-image p,
.left-image1 p {
  font-size: 1rem;
  font-weight: 400;
}

.section1 {
  background: url("./images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 60vh;
  padding: 5rem 12.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.our-result-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.our-result-heading{
    width: fit-content;
}

.our-result-heading h3{
    font-size: 2rem;
    font-weight: bold;
}

.our-result-paragraph{
    width: 100%;
}


.our-rate-container{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3.5rem;
}

.shape1{
    text-align: center;
    background: url("./images/pentagone.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.8rem;
}

.shape1 h3{
    font-size: 2rem;
    font-weight: bold;
}