@font-face {
  font-family: "holberto_school-icon";
  src: url("./fonts/holberton_school-icon.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "holberton_school-icon";
  box-sizing: border-box;
}

header {
  background: url("./images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 12.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8rem;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: fit-content;
  height: auto;
}

.logo_1 {
  width: 150px;
}

.nav-links {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff6565;
  opacity: 0.9;
}

.hero-section {
  width: fit-content;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.hero-section-paragraph {
  width: 100%;
  line-height: 2rem;
}

.hero-section-paragraph h4 {
  font-size: 2rem;
  font-weight: 800;
}

.hero-section-paragraph p {
  font-size: 1rem;
  font-weight: 800;
}

.btn-btn {
  width: fit-content;
  height: auto;
}

.btn-btn .cta-hero {
  border-radius: 100px;
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: #ff6565;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-btn .cta-hero:hover {
  opacity: 0.9;
  cursor: pointer;
}

.hero-paragraph {
  width: 80%;
  text-align: center;
  padding: 0.7rem;
  margin: 0 auto;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4rem 12.5rem;
  gap: 5rem;
}

.what-about-container {
  width: 70%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.what-about-container h3 {
  font-size: 2rem;
  font-weight: bold;
}

.what-about-paragraph {
  width: fit-content;
  height: auto;
}

.what-about-paragraph > p {
  font-size: 1.2rem;
  font-weight: 400;
}

.what-about-images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.left-image {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  transform: scale(1);
}

.left-image:hover {
  opacity: 0.4;
  transform: rotate(45deg);
}
.left-image1 {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.left-image1:hover {
  opacity: 0.4;
  transform: rotate(45deg);
}

.left-image img {
  width: 50px;
}

.left-image h4,
.left-image1 h4 {
  font-size: 1.5rem;
}

.left-image p,
.left-image1 p {
  font-size: 1rem;
  font-weight: 400;
}

.section1 {
  background: url("./images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 60vh;
  padding: 5rem 12.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.our-result-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.our-result-heading {
  width: fit-content;
}

.our-result-heading h3 {
  font-size: 2rem;
  font-weight: bold;
}

.our-result-paragraph {
  width: 100%;
}

.our-rate-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3.5rem;
}

.shape1 {
  text-align: center;
  background: url("./images/pentagone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem;
  animation: forwards;
}

.shape1:hover {
  transform: translate(100px, 100px);
}
.shape1 h3 {
  font-size: 2rem;
  font-weight: bold;
}

.contact-us-container {
  width: 100%;
  height: auto;
  padding: 5rem 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

form {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

form h3 {
  font-size: 2rem;
  font-weight: bold;
}

.details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-bottom: solid;
}

.footer-container {
  width: 100%;
  height: 25vh;
  background-color: #071629;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 5rem 12.5rem;
  text-align: center;
  gap: 1rem;
}

.footer-container p {
  font-size: 0.9rem;
  font-weight: 500;
}

.logo-social {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: fit-content;
  height: auto;
}

.img img {
  width: 25px;
}

/* Mobile responsiveness */
@media screen and (max-width: 480px) {
  header {
    background: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    padding: 2rem 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 7rem;
  }

  nav {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }

  .nav-links {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background-color: #071629;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -4000px;
    text-align: center;
    transition: 0.3s ease;
  }

  .nav-links:active {
    right: 0;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 30px;
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    top: 140%;
    left: 100%;
    transform: translate(-50px, -50px);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 160%;
  }

  .ham-menu span:nth-child(3) {
    top: 180%;
  }

  /* making the handburger menu active when clicked */
  .ham-menu:active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu:active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu:active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .hero-section {
    width: fit-content;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .btn-btn {
    width: 100%;
    height: auto;
  }

  .btn-btn .cta-hero {
    border-radius: 100px;
    width: 60%;
    padding: 1rem;
    border: none;
    outline: none;
    color: white;
    background-color: #ff6565;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  .hero-paragraph {
    width: 100%;
    text-align: center;
    padding: 0.7rem;
    margin: 0 auto;
  }

  .section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem 1rem;
    gap: 3rem;
  }

  .what-about-container {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
  }

  .what-about-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }

  .left-image {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transform: scale(1);
  }

  .left-image1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
  }

  .section1 {
    background: url("./images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    padding: 2rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }

  .our-result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }

  .our-rate-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }

  .shape1 {
    width: fit-content;
    height: 200px;
    background-color: #ff6565;
    clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%);
    padding: 3rem;
  }

  .contact-us-container {
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }

  form {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-container {
    width: 100%;
    height: 20vh;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    gap: 2rem;
  }

  .footer-container p {
    font-size: 0.9rem;
    font-weight: 500;
  }
}
